Source: clamav
Maintainer: Jordan Bottoms <jbttoms@gmail.com>
Section: utils
Priority: optional
Standards-Version: 4.3.0
Build-Depends: debhelper (>= 9),
    build-essential, 
    openssl, 
    libssl-dev, 
    libcurl4-openssl-dev, 
    zlib1g-dev, 
    libpng-dev, 
    libxml2-dev, 
    libjson-c-dev, 
    libbz2-dev, 
    libpcre3-dev, 
    libncurses-dev, 
    libmilter1.0.1, 
    libmilter-dev, 
    valgrind, 
    check
    
Package: clamav
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: anti-virus utility for Unix - command-line interface 
